.repository
    // background-color: grey
    height: 200px
    margin-bottom: 16px
    display: flex
    justify-content: center
    align-items: center
    text-align: center

    &__container
        flex: 1

    &__title

    &__subtitle

    &__paragraph
        flex: 0.5
        padding: 24px
