<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css">
    {{ $style := resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <title>{{ .Site.Title }}</title>
</head>
<body>
    <header class="header">
        {{- partial "appbar.html" . -}}
    </header>

    <main class="main">
        <div class="sheet">
            {{ block "main" . }}
            {{ end }}
        </div>
    </main>

    {{- partial "footer.html" . -}}
</body>
</html>