a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

/* Appbar Theme */
.appbar {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  width: 100%;
  max-height: 56px;
  background-color: #6200EE;
}
.appbar__logo {
  margin: 0 16px;
  border-radius: 36px;
  height: 74px;
  width: 74px;
  background-color: #cccccc;
  transform: skew(-20deg);
}
.appbar__row {
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}
.appbar__item {
  list-style-type: none;
  transform: skew(20deg);
}
.appbar__text {
  transform: skew(-20deg);
}
.appbar__link {
  text-decoration: none;
  color: #BB86FC;
  background-color: #121212;
  display: block;
  padding: 8px 16px;
  margin: 0 6px;
  width: 10rem;
  text-align: center;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  color: white;
}

.repository {
  height: 200px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.repository__container {
  flex: 1;
}
.repository__paragraph {
  flex: 0.5;
  padding: 24px;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #121212;
}

.main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  padding: 16px 32px;
  color: #e2e2e2;
}

/* Component Exposed Variables */
.footer {
  background-color: #6200EE;
  color: #cccccc;
}
.footer__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: wrap;
}
.footer__branding-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__branding {
  font-size: 1.45rem;
}
.footer__links {
  display: flex;
  color: white;
}
.footer__link {
  text-align: right;
  display: block;
  color: #cccccc;
}
.footer__link-column {
  padding: 16px;
}
.footer__social {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social-icon {
  width: 40px;
  height: 40px;
}
.footer__agreement {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 0.9rem;
}
.footer__copyright {
  padding: 16px;
  font-size: 0.9rem;
  width: 50%;
}

/*# sourceMappingURL=main.css.map */
