@use "../themes/_default"
/* Component Exposed Variables */
$background-color: default.$color-secondary
$link-color: default.$color-text-muted
    
.footer
    background-color: $background-color
    color: #cccccc

    &__container
        max-width: 1280px
        margin-left: auto
        margin-right: auto
        display: flex
        flex-flow: wrap

    &__branding-container
        flex: 1
        // background-color: red
        display: flex
        justify-content: center
        align-items: center

    &__branding
        font-size: 1.45rem

    &__links
        display: flex
        color: white

    &__link
        text-align: right
        display: block
        color: $link-color

    &__link-column
        padding: 16px
        // background-color: green

    &__social
        flex: 1
        // background-color: brown
        display: flex
        justify-content: center
        align-items: center

    &__social-icon
        width: 40px
        height: 40px

    &__agreement
        width: 100%
        padding: 16px
        text-align: center
        font-size: 0.9rem

    &__copyright
        padding: 16px
        font-size: 0.9rem
        width: 50%
