.main
    max-width: 1280px
    margin-left: auto
    margin-right: auto
    margin-top: 32px
    padding: 16px 32px
    // background-color: #929292
    // opacity: 0.5
    color: #e2e2e2
    // box-shadow: 0 0 8px 4px rgba(0, 0, 0, 1)
    // min-height: calc(100vh - 56px - 42px - 32px)