<nav class="appbar">
    <ul class="appbar__row">
    {{ range first 3 site.RegularPages }}
        <li class="appbar__item">
            <a class="appbar__link" href="{{ .Permalink }}"><div class="appbar__text">{{ .Title }}</div></a>
        </li>
    {{ end }}
        <li class="appbar__item">
            <div class="appbar__logo">
                <img src="/wk3r-website/images/logo.png" height="100%" />
            </div>
        </li>
    {{ range last 3 site.RegularPages }}
        <li class="appbar__item">
            <a class="appbar__link" href="{{ .Permalink }}"><div class="appbar__text">{{ .Title }}</div></a>
        </li>
    {{ end }}
    </ul>
</nav>