<footer class="footer">
    <div class="footer__container">
    <!-- Agreement -->
    <div class="footer__branding-container">
        <div class="footer__branding"><b>WK3R</b> Prime</div>
    </div>
    <div class="footer__links">
        <div class="footer__link-column">
            <h4>Support</h1>
            <a class="footer__link" href="#">Discord</a>
            <a class="footer__link" href="#">Forum</a>
        </div>
        <div class="footer__link-column">
            <h4>Repositories</h1>
            <a class="footer__link" href="#">package1</a>
            <a class="footer__link" href="#">package2</a>
            <a class="footer__link" href="#">package3</a>
        </div>
    </div>
    <div class="footer__social">
    </div>
    {{ if $.Site.Params.agreement.message }}
    <div class="footer__agreement">
        {{ safeHTML $.Site.Params.agreement.message }}
    </div>
    {{ end }}
    </div>
    {{ if $.Site.Params.copyright.message }}
    <div class="footer__copyright">
        {{ safeHTML $.Site.Params.copyright.message }}
    </div>
    {{ end }}
</footer>