{{ define "main" }}
<div class="title"><b>WK3R</b> Prime</div>
<hr width="150px" color="#d84fe8">
{{ .Content }}
<h2 style="text-align: center;" >Repositories</h2>
<div class="repository">
    <div class="repository__container">
        <div class="repository__title"><b>WK3R-Server</b></div>
        <div class="repository__subtitle">The core server for wk3r.</div>
    </div>
    <div class="repository__paragraph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel finibus
            dolor, nec posuere dolor. Maecenas diam dolor, dapibus vel lacinia nec,
            vulputate sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. In finibus risus tortor, sit amet fringilla nisl lacinia non.</p>
    </div>
</div>
<div class="repository">
    <div class="repository">
        <div class="repository__paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel finibus
                dolor, nec posuere dolor.</p>
        </div>
        <div class="repository__container">
            <div class="repository__title"><b>WK3R-LoginServer</b></div>
            <div class="repository__subtitle">The core server for wk3r.</div>
        </div>
    </div>
</div>
<div class="repository">
    <div class="repository__container">
        <div class="repository__title"><b>WK3R-Client</b></div>
        <div class="repository__subtitle">The core server for wk3r.</div>
    </div>
    <div class="repository__paragraph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel finibus
            dolor, nec posuere dolor. Maecenas diam dolor, dapibus vel lacinia nec,
            vulputate sit amet augue. consectetur adipiscing
            elit. In finibus risus tortor, sit amet fringilla nisl lacinia non.</p>
    </div>
</div>
<div class="repository">
    <div class="repository__paragraph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel finibus
            dolor, nec posuere dolor. Maecenas diam dolor, dapibus vel lacinia nec,
            vulputate sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. In finibus risus tortor, sit amet fringilla nisl lacinia non.</p>
    </div>
    <div class="repository__container">
        <div class="repository__title"><b>WK3R-Web</b></div>
        <div class="repository__subtitle">The core server for wk3r.</div>
    </div>
</div>
<div class="repository"></div>
{{ end }}